.addressinputbox {
  .google-places-autocomplete__input {
    display: block;
    resize: none;
    width: 100%;
    font-size: inherit;
    border: 2px solid #888;
    min-height: 24px;
    padding: 14px 9px;
    margin-top: 5px;
    height: 0px;
    white-space: nowrap;
    box-shadow: none;
  }

  .google-places-autocomplete__suggestions-container {
    z-index: 4;
    cursor: pointer;
  }
}
