.select {
  select {
    display: block;
    width: 100%;
    font-size: inherit;
    border: 2px solid #888;
    height: 56px;
    padding: 14px 9px;
    margin-top: 5px;
    white-space: nowrap;
    background: white;
  }
}
