.landing-section-1 {
  text-align: center;
  background-color: #FFFBEA;
  padding: 20px 0 0 0;
  position: relative;
  color: #CB6E17;

  .ctaGroup {
    display: flex;
    min-width: 25%;
    width: 25%;
    margin: 5vh auto;
    justify-content: space-between;

    .primaryBtn {
      border: 1px solid #CB6E17;
      border-radius: 25px;
      padding: 14px;
      color: #CB6E17;
      outline: none;
      cursor: pointer;
      background: white;
      margin: 5px;
      h4 {
        color: #CB6E17;
      }
    }
  }

  h1 {
    margin: 0;
  }

  .tagline {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .trapezium {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .triangle {
      border-top: 200px solid transparent;
	    border-left: 100vw solid #fadb5f;
    }

    .rect {
      height: 40%;
      width: 100%;
      background: #fadb5f;
    }
  }

  .content {
    position: relative;
    z-index: 2;
    margin-top: 10vh;
    padding: 10px;
  }

}

@media only screen and (max-width: 600px) {
  .landing-section-1 {

    .ctaGroup {
      width: 90%;
    }

  }
}
