
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.landingPageContainer {
  width: 100%;
}

.primary-button {
  border: 1px solid #DE911D;
  border-radius: 25px;
  padding: 14px;
  color: #DE911D;
  outline: none;
  cursor: pointer;
  background: white;
  margin: 5px;
}

.form-element {
  margin-top: 25px;
}

.form-inputs {
  width: 80%;
}

.form-container {
  padding: 20px 40px;
}

@media only screen and (max-width: 600px) {
  .form-inputs {
    width: 90%;
  }

  .form-container {
    padding: 20px 10px;
  }
}

.form-container .description {
  line-height: 1.5;
}

.secondary-button {
  background: #8D2B0B;
  border-radius: 0;
  padding: 15px 30px;
  font-size: 20px;
  color: #fff;
}
